.File_section{
    position: relative;
    margin: auto;
    width: 350px;
    height: 170px;
    border: 1px dashed #2454FF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.left, .right{
    position: relative;
    width: 190px;
    text-align: center;
    padding: 40px;
}

.file_icon{
    width: 100px;
    height: 100px;
    
}

.download_icon{
    width: 80px;
    height: 70px;
}
