.upload{
    width: 537px;
    height: 200px;
    margin: auto;
    border: 1px #2454FF dashed ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_icon{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
.browse{
    position: relative;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #3BADFF;
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
    padding-top: 2px;
    font-weight: 400;
}
.Drop_text{
    position: relative;
    margin-top: 10px;
    font-weight: 500;
    color: #919191;
}
.Info_text{
    margin-top: 10px;
}